Language: Cpp
Standard: c++20
BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 100
UseTab: Never

BreakBeforeBraces: Attach
InsertBraces: true
SpaceInEmptyBlock: true
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true

AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: true
AllowAllParametersOfDeclarationOnNextLine: false
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
BreakBeforeBinaryOperators: NonAssignment
AlwaysBreakTemplateDeclarations: Yes
AlignOperands: DontAlign
AlignTrailingComments: false
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None

PointerAlignment: Left
DerivePointerAlignment: false
ReferenceAlignment: Pointer
IndentCaseLabels: true
NamespaceIndentation: None
FixNamespaceComments: true
ShortNamespaceLines: 0
SpacesBeforeTrailingComments: 2
EmptyLineBeforeAccessModifier: LogicalBlock
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
InsertNewlineAtEOF: true

# Own header, project headers (full paths from src/), third-party, standard.
IncludeBlocks: Regroup
SortIncludes: CaseSensitive
IncludeCategories:
  - Regex: '^"'
    Priority: 2
  - Regex: '^<[a-z_0-9]+>$'
    Priority: 4
    CaseSensitive: true
  - Regex: '^<'
    Priority: 3
IncludeIsMainRegex: '$'

StatementAttributeLikeMacros: [Q_EMIT]
